h1,
footer {
  text-align: center;
}

.all-beasts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px auto;
}

.card-img-top {
  height: 300px;
  object-fit: fill;
}

.modal-body {
  text-align: center;
}

.modal-body img {
  height: 400px;
  max-width: 100%;
}
